<!DOCTYPE html>
<html lang="en">
<head>

      <title>Add new customer</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylecustform.css">
</head>
<body style="background-color: steelblue">
   
    <div class="form" id="myForm">
    <form action="/process" method = "POST" class="form-container">
        <h1>Add Customer:</h1>
        <label for="name">Name</label>
        <input type="text" placeholder="Enter name" name="name" required><br>
        <label for="address">Address</label>
        <input type="text" placeholder="Enter address" name="address" required><br>
        <label for="phone">Phone number</label>
        <input type="text" placeholder="Enter phone" name="phone" required><br>
        <label for="sid">Allot Salesperson ID:</label>
        <input type="text" placeholder="Enter salesperson ID" name="sid" required><br>
        <input type="submit" value="Submit" class="btn">
           
    </form>
    </div>
    <footer>
            <p style="font-size: 20px" >&copy; 2019 Goa Motors LLP</p>
  <p>Contact information:
  <a href="mailto:goamotors@gmail.com">
 <br> Email: goamotors@gmail.com</a>
    <br><a href="tel:6481234674">
              Mobile:+91 6481234674 </a> </p>
    </footer>
</body>
</html>
