<html>
<head><div class="tophead"><h1>GOA MOTORS</h1></div>
	<title>WELCOME TO CAR DEALERSHIP</title>
</head>
  
   	<link rel="stylesheet" type="text/css" href="stylesheets/new.css"/>
    <script src="javascripts/login.js"></script>
<body style="background-color:royalblue" style="background-size: contain">

<form class="form1" method="post" name="myform">
<label>User Name :</label>
<input type="text" name="username" id="username"/>
<label>Password :</label>
<input type="password" name="password" id="password"/>
<input type="button" value="Login" id="submit" onclick="validate()"/>
</form>
</body>
<footer>
  <p style="font-size: 20px" >&copy; 2019 Goa Motors LLP</p>
  <p>Contact information:
  <a href="mailto:goamotors@gmail.com">
 <br> Email: goamotors@gmail.com</a>
    <br><a href="tel:6481234674">
              Mobile:+91 6481234674 </a> </p>
 </footer>
</html>