 <!DOCTYPE html>
<html lang="en">
<head>
    <title>Goa Motors</title>
    <div class="tophead" style="background-color: black">
            <h4>Goa Motors</h4>
            <h1 >Database Management System</h1>
        </div>
 </head>
    <link rel="stylesheet" type="text/css" href="stylesheets/styler.css">


<body style="background-image:linear-gradient(#000428,#004e92)">
  
        <div class="options">
        	<div class="zoom">
             <h3>  <a onclick="window.location.href='/addcustomer' ">Add customer</a> </h3><br>
             <p> the details of new customer</p>
             <p>to be entered to the database</p>
           </div>
        <div class="zoom">
           <h3>  <a onclick="window.location.href='/dummy' ">Get Customer Details</a></h3><br>
            <p>Display existing</p>
            <p>customer details</p>
          </div>
          <div class="zoom">
            <h3><a onclick="window.location.href='/checkinventory' ">Check Inventory</a></h3><br>
            <p>Get details</p>
            <p>of cars available at dealership</p>
        </div>
      <div class="zoom">
            <h3><a onclick="window.location.href='/addvehicle' ">Add Vehicle</a></h3><br>
            <p>Add new vehicles to inventory</p>
            
        </div>
    </div>
    <footer class="footer">
        <p style="font-size: 20px" >&copy; 2019 Goa Motors LLP</p>
  <p>Contact information:
  <a href="mailto:goamotors@gmail.com">
 <br> Email: goamotors@gmail.com</a>
    <br><a href="tel:6481234674">
              Mobile:+91 6481234674 </a> </p>
    </footer>
</body>
</html>
